.ms-header{
    height: 70px;
}

.ms-main{
    height: calc(100vh - 70px);
}



/* ----color-----  */
.ms-bg-light{
    background-color: #f8f9fa;
}

.ms-bg-lightgrey{
    background-color: #e5e5e5;
}