.ms-header{
    height: 70px;
}


body{
    height: 100vh;
}
.ms-main{
    height: calc(100% - 70px);
}
.ms-bg-lightblue{
    background-color: #1b72e8;
}


/* ----color-----  */
.ms-bg-light{
    background-color: #f8f9fa;
}

.ms-bg-lightgrey{
    background-color: #e5e5e5;
}