.ms-header{
    height: 70px;
}


body{
    height: 100vh;
}
.ms-main{
    height: calc(100% - 70px);
}
.ms-bg-lightblue{
    background-color: #1b72e8;
}

.ms-sidebar{
    background-image: url("./img/sidebar-bg.png");
    background-color: #051e34;
}

.ms-logo-mobile>img{
   height: 50px;
}



/* ----color-----  */
.ms-bg-light{
    background-color: #f8f9fa;
}

.ms-bg-lightgrey{
    background-color: #e5e5e5;
}
.ms-bg-darkblue{
    background-color: #051e34;
}
.ms-color-grey{
    color: #5b5858;
}
.ms-color-orange{
    color: #ff8f00;
}
.ms-bg-blue{
    background-color: #165bba;
}

.ms-icon-header-rotate{
 
    transition: width 1s, height 1s, transform 1s;
}

.ms-icon-fa-bell:hover,
.ms-header-col-center:hover .ms-icon-glass{
    transform: scale(1.4);
    cursor: pointer;
}

.ms-icon i:hover{
    transform: scale(1.2);
}

.ms-ul-sidebar:hover .ms-icon-rounded,
.ms-ul-sidebar li:hover{
    background-color: rgba(110, 106, 106,0.3);
    transform: scale(1.3);
 
}

.ms-ul-sidebar:hover ,
.ms-ul-sidebar:hover .ms-icon-header-rotate{
    transform: rotate(360deg);
}



.ms-button-student:hover .ms-icon-plus{
    color: black;
}


 @media (max-width: 991.98px) { 
    .ms-cl-offcanvas{
        width: 100%;
    }
  }

